.take-place-soon {
    color: red
}

img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
}

form {
    margin-bottom: 10px;
    justify-content: center;
    display: grid;
}

.submit-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2, p {
    text-align: center;
}