<div class="container">
  <div>
    <h2>{{ training?.name }}</h2>
    <p>Beschreibung: {{ training?.description }}</p>
    <p [class.take-place-soon]="training.nextRun | takePlaceSoon">
      Nächste Schulung: {{ training?.nextRun | date: "mediumDate" }}
    </p>
    <img
      *ngIf="training.imageUrl"
      src="{{ training.imageUrl }}"
      alt="Training Logo"
    />
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngIf="form.controls['name'].invalid"
        >Name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="nextRun" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description" />
      <mat-error *ngIf="form.controls['description'].invalid"
        >Description has to be at least 10 characters</mat-error
      >
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox formControlName="discontinued" (change)="checkValue()"
        >Discontinued</mat-checkbox
      >
    </section>
    <mat-error *ngIf="form.errors">Date cannot be in the future!</mat-error>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      class="submit-btn"
      [disabled]="!form.valid"
    >
      Save
    </button>

    <button
      mat-raised-button
      color="primary"
      [routerLink]="['..']"
      routerLinkActive="router-link-active"
    >
      Go back
    </button>
  </form>
</div>
