.example-spacer {
    flex: 1 1 auto;
}

.wrapper {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  max-width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

