<div class="wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>tcc Manager App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <h2>Nächstes Training: {{ (nextTrainings$ | async)?.name }}</h2>

  <router-outlet></router-outlet>
  
</div>