<p>Anzahl der angebotenen Trainings: {{ trainings.length }}</p>

<mat-selection-list #schulung [multiple]="false">
  <mat-list-option
    *ngFor="let t of trainings"
    [value]="t"
    (click)="onListItemClicked($event, t)"
    [class.discontinued]="t.discontinued"
    [routerLink]="['/training', t.id]" routerLinkActive="router-link-active"
  >
    {{ t.name }}
  </mat-list-option>
</mat-selection-list>
